body {
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  overflow: auto;
}
#heart {
  background: rgb(255, 255, 255);
}
#heart:focus {
  background: royalblue;
  color: red;
}
.btn {
  background: rgb(255, 255, 255);
}
.btn:focus {
  background: royalblue;
}
.centerofpage {
  text-align: center;
  overflow: auto;
  margin: 0;
  position: absolute;
}
.mypadding {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.mybackbutton {
  padding-top: 1.5rem;
  padding-left: 1rem;
}
