.myPadding {
    padding-top: 10rem;
}
.myPadding2 {
    padding-top: 5rem;
}
.signInButton{
    margin-top: 1rem;
    margin-right: 2rem;
    float: right;
}
.titlefont{
    font-size: xx-large;
    text-align: center;
    font-weight: bold;
}
body {
    background-image:  url('Images/background3.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height:100%;
}
.searchMargin{
    margin-left:5px;
}