.myPadding {
    padding-top: 10rem;
}
.signInButton{
    margin-top: 1rem;
    margin-right: 2rem;
    float: right;
}
.titlefont{
    font-size: xx-large;
    text-align: center;
    font-weight: bold;
}
body {
    background-image: linear-gradient(rgba(255,255,255,0.4), rgba(255,255,255,0.4)), url("./Images/background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height:100%;
}
.searchMargin{
    margin-left:5px;
}